name: CI
on: [pull_request]
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.8, 2.12.16]
        nodejs: [16.16.0, 14.20.0, 12.22.12]
    steps:
      - uses: actions/checkout@v4
      - uses: olafurpg/setup-scala@v14
        with:
          java-version: adopt@1.11
      - uses: coursier/cache-action@v6
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.nodejs }}
      - run: npm install
      - name: Run Tests
        run: sbt ++${{ matrix.scala }} test
        env:
          NODEJS_VERSION: ${{ matrix.nodejs }}

