name: CI
on: [pull_request]
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [2.13.3, 2.12.12]
        nodejs: [14.15.1, 12.19.1, 10.23.0]
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - run: export NODEJS_VERSION=${{ matrix.nodejs }}
      - uses: coursier/cache-action@v5
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.nodejs }}
      - run: npm install
      - name: Run Tests
        run: sbt ++${{ matrix.scala }} test
